<style>
  /* changes */
  * {
    font-family: 'Satisfy', cursive;
  }

  h5,
  h2,
  h3 {
    font-weight: bold;
  }

  .main {
    margin-top: 80px;
  }

  /* changes */


  img {
    margin-left: 25px;
    height: 32px;
    width: 32px;
  }

  .boxcontainer {
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: 740px;
    height: 59px;
    background: #C4C4C4;
    border: 3px solid #159604;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 0px 5px;
  }

  .title-head {
    font-size: 24px;
    font-weight: 400px;
    padding-bottom: 10px;
  }

  .elementscontainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  #search {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background: #c4c4c4;
    border-radius: 50px;
    font-size: 29px;
    text-transform: uppercase;
  }

  input {
    margin-right: 50px;
  }

  .no-result {
    text-align: center;
    font-size: 30px;
  }

  .container {
    margin: 20px;
    padding-top: 55px;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    border: 2px solid #159604;
    border-radius: 20px;
    position: relative;
    flex: 1;
    max-width: 374px;
    height: 440px;
    margin: 10px;
  }

  .center-img {
    align-items: center;
    width: 321px;
    height: 245px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #mini-img {
    width: 300px;
    height: 245px;
    border-radius: 15px;

  }

  #img-url {
    padding-top: 10px;
    margin-left: 70px;
  }

  .position {
    padding-top: 10px;
    padding-left: 10px;
  }

  .font {
    padding: 5px;
    margin-top: -10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #282725;
  }

  .login,
  h3 {
    text-align: center;
    font-size: 23px;
    font-family: 600px;
  }

  button {
    font-size: 18px;
    margin: 10px;
    margin-left: 120px;
    height: 38px;
    width: 90px;
    background: black;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;

  }

  .btn-primary {
    border-color: black;
  }

  .error {
    color: red;
  }

  .heading {
    font-size: 20px;
  }

  .checked {
    color: orange;
  }


  /* reference page */
  h2 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: left;
    font-size: 18px;
    /* changes */
  }

  /* changes */
  .centered {
    font-size: 18px;
  }

  .slider {
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  .image-container {
    width: 1100px;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

  .image-container .img {
    width: 300px;
    height: 200px;
  }

  .slide {
    width: 300px;
    border-radius: 10px;
    right: -19%;
    height: 250px;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

  #slide-1:target~.image-container {
    left: 0px;
  }

  #slide-2:target~.image-container {
    left: -500px;
  }

  #slide-3:target~.image-container {
    left: -1000px;
  }

  .buttons {
    position: relative;
    left: 45%;
  }

  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: black;
  }

  .split {
    height: 91%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    width: 37%;
    top: 6%;
    left: 13%;
    bottom: -10%;
    background-color: wheat;
    /* background-color:rgb(241, 205, 136); */
    /* background-color: #EEB76B; */
    /* border-radius: 10px 0px 0px 10px; */
    padding-left: 5px;
    padding-right: 5px;
  }

  .right {
    top: 6%;
    width: 38%;
    right: 12.99%;
    float: right;
    background-color: rgb(183, 252, 183);
    /* background-color: #1EE494; */
    border-radius: 0px 10px 10px 0px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .left .btn {
    bottom: 0%;
    left: 50%;
  }

  .responsive {
    display: none;
  }

  @media(max-width:600px) {
    .container {
      position: relative;
      flex-wrap: wrap;
    }

    .left {
      width: 50%;
      top: 5%;
      left: 10%;
      flex-wrap: wrap;
      overflow-x: hidden;
      background-color: wheat;
      display: none;
    }

    .right {
      top: 1.5%;
      width: 90%;
      height: 97%;
      right: -4%;
      left: 5%;
      flex-wrap: wrap;
      overflow-x: hidden;
      background-color: none;
      border-width: 1px;
      border-color: black;
      border-radius: 10px;
      padding-left: 3px;
    }

    .responsive {
      display: table-cell;
    }

    .slide {
      left: 7%;
      width: 280px;
    }
  }
</style>
<div class="row main ">


  <div class="col-lg-3 col-md-6 col-sm-12 " id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Jade.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Jade Terrarium </h5>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>
      <button (click)="showDialog = !showDialog" class="btn btn-primary">Details</button>
    </div>


    <app-dialog [(visible)]="showDialog" title="Details Card" data-popup="width:300;height:250">

      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Jade Terrariam</h2>
          <img src="assets/plant/Jade.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Its Also known as a money magnetic in Feng Shui, Jade plant is known to invite growth and renewal into the
            home. An easy to care indoor plant, this can spring the inner decor beautifully and can be a perfect
            addition to your desk. </p>
          <p>Jade Plant is a perennial plant. It has a life span of more than 2 years. It is a low-maintenance succulent
            with delicate pink or white flowers that bloom in the spring.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Jade Terrariam</h2>
            <img src="assets/plant/Jade.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Its Also known as a money magnetic in Feng Shui, Jade plant is known to invite growth and renewal into
              the home. An easy to care indoor plant, this can spring the inner decor beautifully and can be a perfect
              addition to your desk. </p>
            <p>Jade Plant is a perennial plant. It has a life span of more than 2 years. It is a low-maintenance
              succulent with delicate pink or white flowers that bloom in the spring.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :3-4 hours per day<br>

            <b>Soil</b> :miracle-gro*cactus,palm&citrus potting mix,pH around 6-7.<br>
            <b>Temperature</b>:65-75F (18-25 degree C)<br>
            <b>Fertilizer</b> :Perlite(Implement a low-nitrogen liquid fertilizer every 6 to 8 weeks)<br>
            <b>Feature </b> :Good luck plant to attract wealth and also has medicinal properties
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 1.5ft Approx</li>
            <li><b>Watering</b>: Once a day</li>
            <li><b>Scientific Name</b>: Crassula Ovata</li>
            <li><b>Plant Type</b>: Good Luck</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Keep plants in medium light locations, out of direct sunlight.</li>
              <li>Natural light is best, but some plants can also thrive in office fluorescent light.</li>
              <li>Plant soil should be kept moist at all time.</li>
              <li>Be careful to avoid overwatering.</li>
              <li>Plants should be kept in a cool spot (between 18-28°C).</li>
            </p>
            <button (click)="showDialog = !showDialog" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->

    </app-dialog>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 " id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Air Purifying Syngonium.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;">Purifying Syngonium </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked "></span>


      <button (click)="showDialog1 = !showDialog1" class="btn btn-primary">Details</button>
    </div>


    <app-dialog [(visible)]="showDialog1" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Purifying Syngonium</h2>
          <img src="assets/plant/Air Purifying Syngonium.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>The five lobed shape of Syngonium podophyllum/ Goosefoot leaves represents the 5 Feng Shui elements; water,
            fire, earth, wood and metal.A Perfect Feng Shui Plant! If your friends or family have just shifted to a new
            apartment then this is an ideal gift. Place it on a desk or workstation to let its spirit of spring; dawn,
            youth and new ideas aid inspiration. Tucked in a hut shaped vase it makes a perfect tabletop decorative
            piece.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Purifying Syngonium</h2>
            <img src="assets/plant/Air Purifying Syngonium.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>A Perfect Feng Shui Plant! If your friends or family have just shifted to a new apartment then this is an
              ideal gift. Place it on a desk or workstation to let its spirit of spring; dawn, youth and new ideas aid
              inspiration. Tucked in a hut shaped vase it makes a perfect tabletop decorative piece.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :grown in medium to bright indirect light<br>
            <b>Soil</b> :It can be grown in the regular soil also.<br>
            <b>Temperature</b>:Winter minimum temperature 16 °C to 18 °C (60 to 65°F) .<br>
            <b>Fertilizer</b> :seaweed granules (10-20 gm in potting soil), liquid seaweed extract. Apply 1 tsp of
            eggshell powder once in every 30 days<br>
            <b>Feature </b> :purifies indoor air, humidifies and helps you to breathe fresh.
            <hr>
            <h3>Key points</h3>
            <li><b>Indoor</b>: Avoid Direct Sunlight</li>
            <li><b>Height</b>: 4 Inches</li>
            <li><b>Watering</b>: Two to three times a week</li>
            <li><b>Scientific Name</b>: Syngonium podophyllum</li>
            <li><b>Plant Type</b>: Foliage</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li> The plant thrives in conditions with indirect sunlight.</li>
              <li> Routinely fertilize the plant with liquid fertilizer.</li>
              <li>For flowering plants, the flower can be fully bloomed, semi bloomed or in bud stage.</li>
              <li> Cut the old stems during winter to make way for new growth</li>
            </p>
            <button (click)="showDialog1 = !showDialog1" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Syngonium.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Syngonium </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked "></span>

      <button (click)="showDialog2 = !showDialog2" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog2" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Syngonium</h2>
          <img src="assets/plant/Syngonium.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Syngonium is a genus of flowering plants in the family Araceae, native to tropical rainforests in southern
            Mexico, the West Indies, Central and South America. They are woody vines growing to heights of 10–20 m or
            more in trees. They have leaves that change shape according to the plant's stage of growth, and adult leaf
            forms are often much more lobed than the juvenile forms usually seen on small house plants</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Syngonium</h2>
            <img src="assets/plant/Syngonium.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Syngonium is a genus of flowering plants in the family Araceae, native to tropical rainforests in
              southern Mexico, the West Indies, Central and South America. They are woody vines growing to heights of
              10–20 m or more in trees. They have leaves that change shape according to the plant's stage of growth, and
              adult leaf forms are often much more lobed than the juvenile forms usually seen on small house plants</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :grown in medium to bright indirect light<br>
            <b>Soil</b> :It can be grown in the regular soil also.<br>
            <b>Temperature</b>:Winter minimum temperature 16 °C to 18 °C (60 to 65°F) .<br>
            <b>Fertilizer</b> :seaweed granules (10-20 gm in potting soil), liquid seaweed extract. Apply 1 tsp of
            eggshell powder once in every 30 days<br>
            <b>Feature </b> :purifies indoor air, humidifies and helps you to breathe fresh.
            <hr>
            <h3>Key points</h3>
            <li><b>Intdoor</b>: Avoid sunlight</li>
            <li><b>Height</b>: 3 inches</li>
            <li><b>Watering</b>: Two to three times a week</li>
            <li><b>Scientific Name</b>: Syngonium podophyllum</li>
            <li><b>Plant Type</b>: Air Purifying Plant</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>The plant thrives in conditions with indirect sunlight and temperatures above 50C</li>
              <li>Routinely fertilize the plant with liquid fertilizer</li>
              <li>Cut the old stems during winter to make way for new growth</li>
              <li>During the growth phase water frequently but make sure that the soil is not too dry</li>
            </p>
            <button (click)="showDialog2 = !showDialog2" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Oxycardium.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Oxycardium </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog12 = !showDialog12" class="btn btn-primary">Details</button>
    </div>



    <app-dialog [(visible)]="showDialog12" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Oxycardium</h2>
          <img src="assets/plant/Oxycardium.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Another classic climber from the Philodendron family, the Philodendron Oxycardium Golden is an evergreen
            houseplant that features stunning green and glossy foliage which will instantly brighten your space.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Oxycardium</h2>
            <img src="assets/plant/Oxycardium.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Another classic climber from the Philodendron family, the Philodendron Oxycardium Golden is an evergreen
              houseplant that features stunning green and glossy foliage which will instantly brighten your space.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> : Bright indirect sunlight<br>
            <b>Soil</b> :Sandy soil that drains quickly. Use a soil-based potting mix.<br>
            <b>Temperature</b>: Minimum 15 degrees C<br>
            <b>Fertilizer</b> :JR Peter Jacks Classic 20.20.20<br>
            <b>Feature </b> :Good luck plant to attract wealth and also has medicinal properties
            <hr>
            <h3>Key points</h3>
            <li><b>Intdoor</b>: Avoid sunlight</li>
            <li><b>Height</b>: 3 inches</li>
            <li><b>Watering</b>: Two to three times a week</li>
            <li><b>Scientific Name</b>: Philodendron</li>
            <li><b>Plant Type</b>: Good Luck</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li> Keep out of direct sunlight.</li>
              <li> These plants require minimal watering.</li>
              <li> Add the fertiliser annually to the soil.</li>
              <li> For flowering plants, the flower can be fully bloomed, semi bloomed or in bud stage.</li>
            </p>
            <button (click)="showDialog12 = !showDialog12" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Chamaedorea.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Chamaedorea </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog4 = !showDialog4" class="btn btn-primary">Details</button>
    </div>



    <app-dialog [(visible)]="showDialog4" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Chamaedorea</h2>
          <img src="assets/plant/Chamaedorea.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Chamaedorea elegans, the neanthe bella palm or parlour palm, is species of small palmtree native to the
            rainforests in Southern Mexico and Guatemala.also known as Parlour Palm, this one is popular since Victorian
            times it has kept hold of this prestige through its easy going adaptive attitude</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Chamaedorea</h2>
            <img src="assets/plant/Chamaedorea.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Chamaedorea elegans, the neanthe bella palm or parlour palm, is species of small palm tree native to the
              rainforests in Southern Mexico and Guatemala.also known as Parlour Palm, this one is popular since
              Victorian times it has kept hold of this prestige through its easy going adaptive attitude</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :shade tolerant, brighter locations with plenty of indirect sunligh.<br>
            <b>Soil</b> :Outdoors, any well-drained soil; indoors, use a peaty soil-based potting mix.<br>
            <b>Temperature</b>:above 18°C, and needs a minimum of 10°C in winter)<br>
            <b>Fertilizer</b> :3-1-3 in your NPK ratio(Nitrogen-phosphorous-potassium)<br>
            <b>Feature </b> :Air purifying plant
            <hr>
            <h3>Key points</h3>
            <li><b>Indoor</b>:Avoid Direct Sunlight</li>
            <li><b>Height</b>:7 inches</li>
            <li><b>Watering</b>:Two to three times a week</li>
            <li><b>Scientific Name</b>: Chamaedorea</li>
            <li><b>Plant Type</b>: Air Purifying</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Keep the soil moist.</li>
              <li> Avoid fertilizing in winters.</li>
              <li>Use a well-balanced liquid fertilizer.</li>
              <li>For flowering plants, the flower can be fully bloomed, semi bloomed or in bud stage.</li>
            </p>
            <button (click)="showDialog4 = !showDialog4" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Bonsai.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Ficus Bonsai </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked "></span>

      <button (click)="showDialog5 = !showDialog5" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog5" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Ficus Bonsai</h2>
          <img src="assets/plant/Bonsai.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>The Ficus Bonsai, commonly known as the Weeping Fig or Ficus Tree is a beautiful houseplant which is loved
            by numerous plant parents. It has a unique curved trunk with dark green, oval leaves making it a brilliant
            centre piece for your living room or side table. Plant them in shallow but wide pots to show if its
            magnificent stem and roots.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Ficus Bonsai</h2>
            <img src="assets/plant/Bonsai.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>The Ficus Bonsai, commonly known as the Weeping Fig or Ficus Tree is a beautiful houseplant which is
              loved by numerous plant parents. It has a unique curved trunk with dark green, oval leaves making it a
              brilliant centre piece for your living room or side table. Plant them in shallow but wide pots to show if
              its magnificent stem and roots.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :grow in low light but thrive in high light. <br>

            <b>Soil</b> :soil mix that is sixty percent aggregate and forty percent organic matter.<br>
            <b>Temperature</b>: warm weather loving plant<br>
            <b>Fertilizer</b> :organic liquid fertilizer such as a fish emulsion or an organic seaweed fertilizer.<br>
            <b>Feature </b> :Air purifying
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 1.5ft Approx</li>
            <li><b>Watering</b>: Once a day</li>
            <li><b>Scientific Name</b>: Ficus Bonsai</li>
            <li><b>Plant Type</b>: Air purifying</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li> It’s typically an indoor plant and that’s why placing it in a sunny window side would be the best
                idea.</li>
              <li>You should not over it and water it until the water drains out of the drainage hole in the bottom of
                the pot.</li>
              <li> For flowering plants, the flower can be fully bloomed, semi bloomed or in bud stage.</li>
            </p>
            <button (click)="showDialog5 = !showDialog5" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Compacta.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Ficus Compacta </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog6 = !showDialog6" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog6" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Ficus Compacta</h2>
          <img src="assets/plant/Compacta.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Ficus Compacta is the backbone of most house ficus varieties. In nature this graceful tropical tree of
            dense growth, forming aerial roots, and with branches of somewhat pendant habit originates from India,
            Southeast Asia and Australia. Its fruits are small, round blood-red berries when ripe. The name Compacta is
            the Latinized form of the Sanskrit name for banyan. Ficus is commonly called Weeping Fig or simply Ficus</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Ficus Compacta</h2>
            <img src="assets/plant/Compacta.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Ficus Compacta is the backbone of most house ficus varieties. In nature this graceful tropical tree of
              dense growth, forming aerial roots, and with branches of somewhat pendant habit originates from India,
              Southeast Asia and Australia. Its fruits are small, round blood-red berries when ripe. The name Compacta
              is the Latinized form of the Sanskrit name for banyan. Ficus is commonly called Weeping Fig or simply
              Ficus</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> : bright indirect or filtered light with variegated varieties happily able to take medium
            light<br>

            <b>Soil</b> :Rich, humusy and well-drained soil.<br>
            <b>Temperature</b>:need to be kept in temperatures above 60 F. (16 C.) and actually prefer temperatures
            above 70 F. (21 C.).<br>
            <b>Fertilizer</b> :any organic fertilizer.<br>
            <hr>
            <h3>Key points</h3>
            <li><b>Indoor</b>: Avoid direct sunlight</li>
            <li><b>Height</b>: 4 inches</li>
            <li><b>Watering</b>: Two to three times a week</li>
            <li><b>Scientific Name</b>: Ficus microcarpa</li>
            <li><b>Plant Type</b>: Foliage</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Keep out of direct sunlight.</li>
              <li> These plants require minimal watering.</li>
              <li> Add the fertiliser annually to the soil.</li>
              <li> For flowering plants, the flower can be fully bloomed, semi bloomed or in bud stage.</li>
            </p>
            <button (click)="showDialog6 = !showDialog6" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Kamini.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Kamini </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog7 = !showDialog7" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog7" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Kamini</h2>
          <img src="assets/plant/Kamini.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>the Kamini is local to the Indian subcontinent and China. Although mostly found in the Eastern part of the
            nation, it is generally utilized in gardens as a supporting plant. The thick cover of lustrous green leaves
            permits the bush to be pruned intently. The propensity of the bushes to sprout on the new wood makes them
            even more magnificent, when they burst into blossom half a month after they are pruned. Kamini is known by
            an assortment of names in the subcontinent: Vengarai in Tamil, Kaadu karibevu in Kannada, Kunti in Marathi,
            and Maramulla in Malayalam.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Kamini</h2>
            <img src="assets/plant/Kamini.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>the Kamini is local to the Indian subcontinent and China. Although mostly found in the Eastern part of
              the nation, it is generally utilized in gardens as a supporting plant. The thick cover of lustrous green
              leaves permits the bush to be pruned intently. The propensity of the bushes to sprout on the new wood
              makes them even more magnificent, when they burst into blossom half a month after they are pruned. Kamini
              is known by an assortment of names in the subcontinent: Vengarai in Tamil, Kaadu karibevu in Kannada,
              Kunti in Marathi, and Maramulla in Malayalam.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :It is a tropical plant, so loves the sun full, although it can bear some shadow. This is
            perfect for a
            sunny window.<br>

            <b>Soil</b> :It grows very well in alkaline, clay, sandy, acidic and humid soil.<br>
            <b>Temperature</b>:must have temperatures above 40 degrees Fahrenheit<br>
            <b>Fertilizer</b> :balanced fertilizer (5-10-5 or 5-10-10). Allow approx 1 cup for each bush<br>
            <b>Feature</b> :Traditionally, kamini is utilized both in conventional medication as a pain reliever and for
            wood.
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 1.5ft Approx</li>
            <li><b>Watering</b>: these plants require regular water</li>
            <li><b>Scientific Name</b>: Murraya paniculata</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Kamini plants like moisture, so these plants require regular water. It should not be water logging in
                its soil, it can cause damage to the plant.</li>
              <li>Its flowers are extremely delicate, and when trying to touch, its petals fall immediately.</li>
              <li>Keep trimming the plant to maintain the desired shape.</li>
            </p>
            <button (click)="showDialog7 = !showDialog7" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Sansvieria.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Sansvieria Green </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog8 = !showDialog8" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog8" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Sansvieria Green</h2>
          <img src="assets/plant/Sansvieria.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>One of the hardiest plants, the Sansevieria Green, or the Mother-in-law’s tongue, is the best air purifier
            in the indoor plant category. It’s almost impossible to kill and its stiff, upright, sword-like green leaves
            of this plant make her a perfect addition to your contemporary homes. Use it in your workspace or bedroom to
            make the air healthier.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Sansvieria Green</h2>
            <img src="assets/plant/Sansvieria.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>One of the hardiest plants, the Sansevieria Green, or the Mother-in-law’s tongue, is the best air
              purifier in the indoor plant category. It’s almost impossible to kill and its stiff, upright, sword-like
              green leaves of this plant make her a perfect addition to your contemporary homes. Use it in your
              workspace or bedroom to make the air healthier.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :Sansevierias prefer indirect and steady sunlight. This hardy plant can also tolerate low
            light and
            high light.<br>

            <b>Soil</b> :A mix of potting soil along with cactus & succulent mix and a handful of perlite shall work
            excellent.<br>
            <b>Temperature</b>:60-75 degrees F<br>
            <b>Fertilizer</b> :an NPK ratio of 10-10-10, though other ratios can be beneficial as well.<br>
            <hr>
            <h3>Key points</h3>
            <li><b>Indoor</b>: Avoid direct sunlight</li>
            <li><b>Height</b>: 5 inches</li>
            <li><b>Watering</b>: Two to three times a week</li>
            <li><b>Scientific Name</b>: Sansevieria trifasciata</li>
            <li><b>Plant Type</b>: Air purifier</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li> Do not overwater the plant.</li>
              <li> Fertilize the plant with organic fertilizer</li>
              <li> For flowering plants, the flower can be fully bloomed, semi bloomed or in bud stage.</li>
            </p>
            <button (click)="showDialog8 = !showDialog8" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Red philondendron.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Red Philondendron </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog9 = !showDialog9" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog9" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2> Red Philondendron</h2>
          <img src="assets/plant/Red philondendron.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>A Philodendron Imperial Red is one of several hybrid philodendrons that have been developed by growers over
            the last few years. This is an easy care plant that can adapt to all kinds of conditions as long as you keep
            it warm .Philodendron are native to the West Indies and tropical rainforests of Central and South America.
          </p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2> Red Philondendron</h2>
            <img src="assets/plant/Red philondendron.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>A Philodendron Imperial Red is one of several hybrid philodendrons that have been developed by growers
              over the last few years. This is an easy care plant that can adapt to all kinds of conditions as long as
              you keep it warm .Philodendron are native to the West Indies and tropical rainforests of Central and South
              America.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :Bright shade or morning sunlight.<br>

            <b>Soil</b> :soggy soil is dangerous for the plant, therefore the potting mix needs to be very loose, porous
            and
            well-draining. <br>
            <b>Temperature</b>:between 65 – 80°F (18 – 27°C). <br>
            <b>Fertilizer</b> :a balanced fertilizer 20.20. 20
            <hr>
            <h3>Key points</h3>
            <li><b>Intdoor</b>: Avoid direct sunlight</li>
            <li><b>Height</b>: 5 inches</li>
            <li><b>Watering</b>: Two to three times a wek</li>
            <li><b>Scientific Name</b>: Philodendron</li>
            <li><b>Plant Type</b>: Foliage</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li> Avoid direct light but keep in bright sunlight.</li>
              <li>Natural light is the best.</li>
              <li>Over watering to be avoided.</li>
              <li> Fertilise once in 6 months.</li>
              <li> Remove waste leaves and stems.</li>
            </p>
            <button (click)="showDialog9 = !showDialog9" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Lucky bamboo.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Lucky Bamboo </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog10 = !showDialog10" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog10" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Lucky Bamboo</h2>
          <img src="assets/plant/Lucky bamboo.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>One of the luckiest plants according to Feng Shui is the Lucky Bamboo 3 Layer plant. This easy to grow and
            inexpensive plant is a popular choice of plant to keep at homes or offices. An excellent and easy to
            maintain gifting option that is said to bring luck to the bearer. Place it in a stunning glass bowl and make
            it a centrepiece.The botanical name of lucky bamboo is Dracena sanderiana. The plant is named after a
            renowned German-English gardener, Henry Frederick Conrad Sander.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Lucky Bamboo</h2>
            <img src="assets/plant/Lucky bamboo.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>One of the luckiest plants according to Feng Shui is the Lucky Bamboo 3 Layer plant. This easy to grow
              and inexpensive plant is a popular choice of plant to keep at homes or offices. An excellent and easy to
              maintain gifting option that is said to bring luck to the bearer. Place it in a stunning glass bowl and
              make it a centrepiece.The botanical name of lucky bamboo is Dracena sanderiana. The plant is named after a
              renowned German-English gardener, Henry Frederick Conrad Sander.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :tolerate light shade and indirect sunlight<br>
            <b>Temperature</b>: between 65–95°F<br>
            <b>Toxicity</b> :Your Lucky Bamboo can be toxic to your pets.<br>
            <b>Fertilizer </b> :Green Green is a fertilizer mixed with nitrogen, phosphoric acid and potassium.
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Avoid direct sunlight</li>
            <li><b>Height</b>: 5 inches</li>
            <li><b>Watering</b>: Two to three days a week</li>
            <li><b>Scientific Name</b>: Bambusoideae</li>
            <li><b>Plant Type</b>: Lucky Bamboo or Good Luck Plant</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li> Keep out of direct sunlight.</li>
              <li> Spraying with water will be enough to wet the soil.</li>
              <li> Do not let plant stand in water, avoid over watering.</li>
            </p>
            <button (click)="showDialog10 = !showDialog10" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/plant/Tropical Hibiscus.png">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Tropical Hibiscus </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked "></span>

      <button (click)="showDialog11 = !showDialog11" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog11" title="Details Card" data-popup="width:300;height:250">
      <!--referencepage-->

      <div class="container">
        <div class="split left">
          <h2>Tropical Hibiscus</h2>
          <img src="assets/plant/Tropical Hibiscus.png" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>tropical hibiscus plants produce flowers constantly, but each blossom only lasts one day. The shrub is
            fast-growing and can add up to 24 inches per year, eventually reaching heights of up 15 feet when growing
            under the ideal conditions. In colder climates, they are often planted as container specimens that are
            either replanted annually or brought indoors during the cold months. Start new plants in spring, whether in
            the ground or containers.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Tropical Hibiscus</h2>
            <img src="assets/plant/Tropical Hibiscus.png" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>tropical hibiscus plants produce flowers constantly, but each blossom only lasts one day. The shrub is
              fast-growing and can add up to 24 inches per year, eventually reaching heights of up 15 feet when growing
              under the ideal conditions. In colder climates, they are often planted as container specimens that are
              either replanted annually or brought indoors during the cold months. Start new plants in spring, whether
              in the ground or containers.</p>
          </div>
          <div class="centered">

            <h3>Plant Details</h3>
            <b>Sunlight</b> :Give it around six hours of sunshine per day.<br>

            <b>Soil</b> : Hibiscus thrives in any soil but it should be well-drained.<br>
            <b>Temperature</b>: hibiscus flowers best in temperatures between 60-90 F<br>
            <b>Fertilizer</b> : liquid fertilizer or a slow-release fertilizer<br>
            <b>Feature </b> : Characteristics of the hibiscus flower vary from disc-shaped petals to showy
            double-flowers.
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: the more direct sun they get, the better they'll bloom</li>
            <li><b>Height</b>: 5 to 10ft Approx</li>
            <li><b>Watering</b>: Once a day</li>
            <li><b>Scientific Name</b>: Hibiscus rosa-sinensis</li>
            <li><b>Plant Type</b>: Evergreen shrub</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Bring potted hibiscus indoors if temperatures in your area drop below 50 degrees</li>
              <li>hot climates, some tropical hibiscus benefit from a little shade during the hottest part of the
                afternoon. </li>
              <li>Temperatures below 45 degrees or over 85 degrees can cause bud and leaf drop.</li>
            </p>
            <button (click)="showDialog11= !showDialog11" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

      <!--referencepage-->
    </app-dialog>

  </div>



  <ng-template #noResults>
    <p class="no-result">No results found for "{{filteredString}}".</p>
  </ng-template>

</div>