<style>
  * {
    font-family: 'Satisfy', cursive;
  }

  h5,
  h2,
  h3 {
    font-weight: bold;
  }

  .main {
    margin-top: 80px;
  }

  /* changes */


  img {
    margin-left: 25px;
    height: 32px;
    width: 32px;
  }

  .boxcontainer {
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: 740px;
    height: 59px;
    background: #C4C4C4;
    border: 3px solid #159604;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 0px 5px;
  }

  .title-head {
    font-size: 24px;
    font-weight: 400px;
    padding-bottom: 10px;
  }

  .elementscontainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  #search {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background: #c4c4c4;
    border-radius: 50px;
    font-size: 29px;
    text-transform: uppercase;
  }

  input {
    margin-right: 50px;
  }

  .no-result {
    text-align: center;
    font-size: 30px;
  }

  .container {
    margin: 20px;
    padding-top: 55px;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    border: 2px solid #159604;
    border-radius: 20px;
    position: relative;
    flex: 1;
    max-width: 374px;
    height: 440px;
    margin: 10px;
  }

  .center-img {
    align-items: center;
    width: 321px;
    height: 245px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #mini-img {
    width: 300px;
    height: 245px;
    border-radius: 15px;

  }

  #img-url {
    padding-top: 10px;
    margin-left: 70px;
  }

  .position {
    padding-top: 10px;
    padding-left: 10px;
  }

  .font {
    padding: 5px;
    margin-top: -10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #282725;
  }

  .login,
  h3 {
    text-align: center;
    font-size: 23px;
    font-family: 600px;
  }

  button {
    font-size: 18px;
    margin: 10px;
    margin-left: 120px;
    height: 38px;
    width: 90px;
    background: black;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;

  }

  .btn-primary {
    border-color: black;
  }

  .error {
    color: red;
  }

  .heading {
    font-size: 20px;
  }

  .checked {
    color: orange;
  }


  /* reference page */
  h2 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: left;
    font-size: 18px;
    /* changes */
  }

  /* changes */
  .centered {
    font-size: 18px;
  }

  .slider {
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  .image-container {
    width: 1100px;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

  .image-container .img {
    width: 300px;
    height: 200px;
  }

  .slide {
    width: 300px;
    border-radius: 10px;
    right: -19%;
    height: 250px;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

  #slide-1:target~.image-container {
    left: 0px;
  }

  #slide-2:target~.image-container {
    left: -500px;
  }

  #slide-3:target~.image-container {
    left: -1000px;
  }

  .buttons {
    position: relative;
    left: 45%;
  }

  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: black;
  }

  .split {
    height: 91%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    width: 37%;
    top: 6%;
    left: 13%;
    bottom: -10%;
    background-color: wheat;
    /* background-color:rgb(241, 205, 136); */
    /* background-color: #EEB76B; */
    /* border-radius: 10px 0px 0px 10px; */
    padding-left: 5px;
    padding-right: 5px;
  }

  .right {
    top: 6%;
    width: 38%;
    right: 12.99%;
    float: right;
    background-color: rgb(183, 252, 183);
    /* background-color: #1EE494; */
    border-radius: 0px 10px 10px 0px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .left .btn {
    bottom: 0%;
    left: 50%;
  }

  .responsive {
    display: none;
  }

  @media(max-width:600px) {
    .container {
      position: relative;
      flex-wrap: wrap;
    }

    .left {
      width: 50%;
      top: 5%;
      left: 10%;
      flex-wrap: wrap;
      overflow-x: hidden;
      background-color: wheat;
      display: none;
    }

    .right {
      top: 1.5%;
      width: 90%;
      height: 97%;
      right: -4%;
      left: 5%;
      flex-wrap: wrap;
      overflow-x: hidden;
      background-color: none;
      border-width: 1px;
      border-color: black;
      border-radius: 10px;
      padding-left: 3px;
    }

    .responsive {
      display: table-cell;
    }

    .slide {
      left: 7%;
      width: 280px;
    }
  }
</style>
<div class="row main">
  <div class="col-lg-3 col-md-6 col-sm-12 " id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr1_1.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Orange Tree</h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog3_0 = !showDialog3_0" class="btn btn-primary">Details</button>
    </div>


    <app-dialog [(visible)]="showDialog3_0" title="Details Card" data-popup="width:300;height:250">

      <div class="container">
        <div class="split left">
          <h2>Orange Tree</h2>
          <img src="assets/fruits/fr1_1.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Orange is known to have several health benefits and is among the most popular fruits around the world. </p>
          <p>Oranges can be had not only as a snack but also as a major recipe ingredient in various dishes. Nowadays
            orange juice is an integral part of a healthy breakfast thus promoting a healthy start to the day.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Orange Tree</h2>
            <img src="assets/fruits/fr1_1.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Orange is known to have several health benefits and is among the most popular fruits around the world.
            </p>
            <p>Oranges can be had not only as a snack but also as a major recipe ingredient in various dishes. Nowadays
              orange juice is an integral part of a healthy breakfast thus promoting a healthy start to the day.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Sunlight</b> :3-4 hours per day<br>

            <b>Vitamin C</b> :92.93% for females and 77.44% for males.<br>
            <b>Thiamin</b>:10.36%<br>
            <b>Fiber</b> :At least 9.34%, depending on age and sex<br>
            <b>Calcium </b> :Between 4.36% and 5.24%, depending on age
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: (between 5 and 15 m</li>
            <li><b>Watering</b>: During active spring and summer growth, containers may need water daily.</li>
            <li><b>Scientific Name</b>: Citrus X sinensis</li>
            <li><b>Plant Type</b>: Fruit</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Maintaining a low sodium intake is essential to lowering blood pressure.</li>
              <li>Oranges are a good source of fiber and potassium, both of which can support heart health.</li>
              <li>Consuming enough vitamin C can help a person maintain skin health.</li>
            </p>
            <button (click)="showDialog3_0 = !showDialog3_0" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>

    </app-dialog>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 " id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr2_2.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;">Apple Tree </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog31 = !showDialog31" class="btn btn-primary">Details</button>
    </div>


    <app-dialog [(visible)]="showDialog31" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Apple Tree </h2>
          <img src="assets/fruits/fr2_2.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>An apple is a crunchy, bright-colored fruit, one of the most popular in the United States. You’ve probably
            heard the age-old saying, “An apple a day keeps the doctor away.” </p>
          <p>European settlers brought apples with them to the Americas. They preferred them to North America’s native
            crabapple, a small, tarter fruit.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Apple Tree</h2>
            <img src="assets/fruits/fr2_2.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>An apple is a crunchy, bright-colored fruit, one of the most popular in the United States. You’ve
              probably heard the age-old saying, “An apple a day keeps the doctor away.” </p>
            <p>European settlers brought apples with them to the Americas. They preferred them to North America’s native
              crabapple, a small, tarter fruit.
            </p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Liquid Content</b> :Water 93.0 g 90%<br>

            <b>Proteins</b> :Total Protein 0.6 g 1%<br>
            <b>Carbohydrates</b>:Total Carbohydrates 5.7 g 2%<br>
            <b>Vitamins</b> :Vitamin C 156 mg 25%<br>
            <b>Minerals </b> :Calcium 29.0 mg 3%
            <hr>
            <h3>Key points</h3>
            <li><b>Sun Exposure</b>: Full Sun</li>
            <li><b>Soil Type</b>: Loamy</li>
            <li><b>Soil pH</b>: Neutral</li>
            <li><b>Plant Type</b>: Fruit</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Apples can do a lot for you, thanks to plant chemicals called flavonoids. </li>
              <li>they have pectin, a fiber that breaks down in your gut.</li>
              <li>If you take off the apple’s skin before eating it, you won’t get as much of the fiber or flavonoids.
              </li>
              <li>The fiber can slow digestion so you feel fuller after eating.</li>
            </p>
            <button (click)="showDialog31 = !showDialog31" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr3.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;">Black Grapes Plant</h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked "></span>

      <button (click)="showDialog32 = !showDialog32" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog32" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Black Grapes Plant</h2>
          <img src="assets/fruits/fr3.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Black grapes have been grown in Europe and Asia for over 6,000 years. </p>
          <p>The black grapes we enjoy today (Vitis vinifera) come in two varieties — one grows in Western Asia near the
            Black Sea, and the other grows in the Americas. Most are cultivated for use in wine, but they also make a
            delicious and healthy snack.
          </p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Black Grapes Plant</h2>
            <img src="assets/fruits/fr3.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Black grapes have been grown in Europe and Asia for over 6,000 years. </p>
            <p>The black grapes we enjoy today (Vitis vinifera) come in two varieties — one grows in Western Asia near
              the Black Sea, and the other grows in the Americas. Most are cultivated for use in wine, but they also
              make a delicious and healthy snack.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>


            <b>Soil</b> :Well-drained, deep, fertile loams.<br>
            <b>Temperature</b>: above 100C to 400C <br>
            <b>Fertilizer</b> :two to three weeks after planting<br>
            <b>Feature </b> :Some varieties of black grapes are much higher in antioxidants than green or red grapes.
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 1.5 to 8 ft Approx</li>
            <li><b>Watering</b>: egular watering once or twice in a week</li>
            <li><b>Scientific Name</b>: Vitis vinifera</li>
            <li><b>Plant Type</b>: Fruit Plants & Tree</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Keep plants in medium light locations, out of direct sunlight.</li>
              <li>Natural light is best, but some plants can also thrive in office fluorescent light.</li>
              <li>Plant soil should be kept moist at all time.</li>
              <li>Plants should be kept in a cool spot (between 18-28°C).</li>
            </p>
            <button (click)="showDialog32 = !showDialog32" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr4.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Amala Plant</h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog3_12 = !showDialog3_12" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog3_12" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Amala Plant</h2>
          <img src="assets/fruits/fr4.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p> Amla is the medium size deciduous plant. It grows to the height of 8 -18 meter. </p>
          <p>It has a crooked trunk and spreading branches. Its flower is yellow greenish in colour. </p>
          <p>The fruit is spherical pale yellow with six vertical furrows. The mature fruits are hard and do not fall
            for the gentle touch.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Amala Plant</h2>
            <img src="assets/fruits/fr4.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p> Amla is the medium size deciduous plant. It grows to the height of 8 -18 meter. </p>
            <p>It has a crooked trunk and spreading branches. Its flower is yellow greenish in colour. </p>
            <p>The fruit is spherical pale yellow with six vertical furrows. The mature fruits are hard and do not fall
              for the gentle touch.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>

            <b>Soil</b> :A well-draining loamy soil, rich in organic matter<br>
            <b>Temperature</b>:High temperature up to 46°C<br>
            <b>Fertilizer</b> :15 kg well-decomposed farmyard manure (FYM) and 0.5 kg phosphorus<br>
            <b>Feature </b> :Hard, smooth and spherical fruit yellowish green in color with six vertical stripes
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Full sunlight and fewer winds</li>
            <li><b>Height</b>: 1–8 m (3 ft 3 in–26 ft 3 in) in height</li>
            <li><b>Watering</b>: 25-30 liters of water per day per tree</li>
            <li><b>Scientific Name</b>: Phyllanthus emblica</li>
            <li><b>Plant Type</b>: Tropical plant</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Fill seedling pots with a potting soil containing equal portions of sand, compost, and garden loam.
              </li>
              <li>Plant one amla seed in each pot, placing each seed at a depth three times its diameter in the potting
                soil.</li>
              <li>The fruits are light green at first, but when they mature become dull greenish yellow.</li>
            </p>
            <button (click)="showDialog3_12 = !showDialog3_12" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr5.jpg">
    <div class="card-body">

      <h5 class="card-title" style="font-size: 25px;"> Custard apple </h5>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked "></span>



      <button (click)="showDialog34 = !showDialog34" class="btn btn-primary">Details</button>
    </div>



    <app-dialog [(visible)]="showDialog34" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Custard apple</h2>
          <img src="assets/fruits/fr5.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>The fruit of the common custard apple (Annona reticulata), also called sugar apple or bullock’s-heart in
            the West Indies </p>
          <p>The unusual flowers feature six to eight fleshy curved petals in two whorls and numerous stamens and
            pistils. </p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Custard apple</h2>
            <img src="assets/fruits/fr5.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>The fruit of the common custard apple (Annona reticulata), also called sugar apple or bullock’s-heart in
              the West Indies </p>
            <p>The unusual flowers feature six to eight fleshy curved petals in two whorls and numerous stamens and
              pistils. </p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Sunlight</b> :Bright light and Direct sun<br>

            <b>Soil</b> :Best in sandy loam soils.<br>
            <b>Temperature</b>: 73 to 94°F<br>
            <b>Fertilizer</b> :250 g N, 125 g P2O5, and 125 g K2O per plant <br>
            <b>Feature </b> : fruits with creamy white, sweetish, custardlike flesh.
            <hr>
            <h3>Key points</h3>

            <li><b>Height</b>: 8 metres (26 ft) to 10 metres (33 ft) tall</li>
            <li><b>Watering</b>: over-watering can lead to root rot</li>
            <li><b>Scientific Name</b>: Annona reticulata</li>
            <li><b>Plant Type</b>: Tropical plant</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Water the Custard apple tree every week or whenever the soil starts to dry out while the tree is
                actively growing.</li>
              <li>During the winter, water every 2 to 4 weeks to keep the soil from drying out completely.</li>
              <li>Feed every 6 to 8 weeks with water-soluble fertilize designed for fruit trees or 2-8-8 formula.</li>

            </p>
            <button (click)="showDialog34 = !showDialog34" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr6.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;">Mango Tree </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked "></span>


      <button (click)="showDialog35 = !showDialog35" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog35" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Mango Tree</h2>
          <img src="assets/fruits/fr6.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Mango trees are evergreen trees with a thick trunk and wide canopy. </p>
          <p>They can grow to a height of 100 feet or more with a canopy extending to about 35 feet or more, depending
            upon the climate and richness of the soil. The leaves are leathery, lanceolate, and found in
            simple-alternate arrangement on the branches.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Mango Tree</h2>
            <img src="assets/fruits/fr6.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Mango trees are evergreen trees with a thick trunk and wide canopy. </p>
            <p>They can grow to a height of 100 feet or more with a canopy extending to about 35 feet or more, depending
              upon the climate and richness of the soil. The leaves are leathery, lanceolate, and found in
              simple-alternate arrangement on the branches.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>

            <b>Soil</b> :Loamy, moist, well-drained.<br>
            <b>Temperature</b>: always above 70 degrees<br>
            <b>Fertilizer</b> : include 6-6-6 and 8-3-9-2, the 2 indicating magnesium<br>
            <b>Feature </b> :he flowers—small, pinkish, and fragrant—are borne in large terminal panicles (loose
            clusters).
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 50–60 feet</li>
            <li><b>Scientific Name</b>: Mangifera indica</li>
            <li><b>Plant Type</b>: Fruit, tree</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Mango trees should be planted in the spring and are generally fast-growing.</li>
              <li>Sacing depends on the mango variety you're growing.</li>
              <li>Mango trees require full sun, meaning at least eight hours of direct sunlight on most days.</li>

            </p>
            <button (click)="showDialog35 = !showDialog35" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr7.jpg">
    <div class="card-body">

      <h5 class="card-title" style="font-size: 25px;">Guava Tree</h5>
      <p class="card-text"> sdasda </p>


      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>


      <button (click)="showDialog36 = !showDialog36" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog36" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Guava Tree</h2>
          <img src="assets/fruits/fr7.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Guava is a fast growing evergreen shrub or small tree that can grow to a height of 3-10 m. </p>
          <p>It has a shallow root system. Guava produces low drooping branches from the base and suckers from the
            roots. </p>
          <p>The trunk is slender, 20 cm in diameter, covered with a smooth green to red brown bark that peels off in
            thin flakes.</p>
        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Guava Treet</h2>
            <img src="assets/fruits/fr7.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Guava is a fast growing evergreen shrub or small tree that can grow to a height of 3-10 m. </p>
            <p>It has a shallow root system. Guava produces low drooping branches from the base and suckers from the
              roots. </p>
            <p>The trunk is slender, 20 cm in diameter, covered with a smooth green to red brown bark that peels off in
              thin flakes.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>

            <b>Soil</b> :well-drained soils,pH should be between 5.5 to 7.5.<br>
            <b>Temperature</b>:between 20 to 25°C<br>
            <b>Fertilizer</b> :100g nitrogen, 100g potash and 40g phosphorus <br>
            <b>Feature </b> : fruits are oval in shape with light green or yellow skin and contain edible seeds
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 20 ft (6.1 m)</li>
            <li><b>Watering</b>: 2-3 days interval</li>
            <li><b>Scientific Name</b>: Psidium guajava</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Guava plants are native to the tropical and subtropical Americas and will do best in conditions that
                mimic those regions.</li>
              <li>They like moderately warm, humid conditions and react badly to any hint of cold or to desert-like
                heat. </li>
              <li>Potted plants can grow well on a warm patio or deck during the warmer months, then moved indoors for
                the winter.</li>

            </p>
            <button (click)="showDialog36 = !showDialog36" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr8.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Lemon Tree</h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog37 = !showDialog37" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog37" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2> Lemon Tree</h2>
          <img src="assets/fruits/fr8.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Lemon juice is a characteristic ingredient in many pastries and desserts, such as tarts and the traditional
            American lemon meringue pie. </p>
          <p>The distinctive astringent flavour of the fruit, either fresh or preserved, is also used to enhance many
            poultry, fish, and vegetable dishes worldwide.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Lemon Tree</h2>
            <img src="assets/fruits/fr8.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Lemon juice is a characteristic ingredient in many pastries and desserts, such as tarts and the
              traditional American lemon meringue pie. </p>
            <p>The distinctive astringent flavour of the fruit, either fresh or preserved, is also used to enhance many
              poultry, fish, and vegetable dishes worldwide.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Sunlight</b> :3-4 hours per day<br>

            <b>Soil</b> :Well-drained fertile soil<br>
            <b>Temperature</b>: below 28 degrees Fahrenheit<br>
            <b>Fertilizer</b> :should be high in nitrogen<br>
            <b>Feature </b> :Usually has sharp thorns on the twigs
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Full sun </li>
            <li><b>Height</b>: 20 feet tall and 15 feet wide</li>
            <li><b>Scientific Name</b>: Citrus limon (Rutaceae)​</li>
            <li><b>Plant Type</b>: Broadleaf evergreen</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Water immediately after planting and from then on keep the soil slightly moist.</li>
              <li>Lemons grow best in soils that are moist but not soggy.</li>
              <li>Water your tree every seven to 10 days during the summer, providing it with 4 to 6 inches of water
                each month.</li>
              <li>Allow the soil around mature trees to partially dry between waterings.</li>
            </p>
            <button (click)="showDialog37 = !showDialog37" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr9.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Sapota Plant </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>

      <button (click)="showDialog38 = !showDialog38" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog38" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Sapota Plant</h2>
          <img src="assets/fruits/fr9.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Its Also known as a money magnetic in Feng Shui, Jade plant is known to invite growth and renewal into the
            home. An easy to care indoor plant, this can spring the inner decor beautifully and can be a perfect
            addition to your desk. </p>
          <p>Jade Plant is a perennial plant. It has a life span of more than 2 years. It is a low-maintenance succulent
            with delicate pink or white flowers that bloom in the spring.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Sapota Plant</h2>
            <img src="assets/fruits/fr9.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Its Also known as a money magnetic in Feng Shui, Jade plant is known to invite growth and renewal into
              the home. An easy to care indoor plant, this can spring the inner decor beautifully and can be a perfect
              addition to your desk. </p>
            <p>Jade Plant is a perennial plant. It has a life span of more than 2 years. It is a low-maintenance
              succulent with delicate pink or white flowers that bloom in the spring.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Sunlight</b> :3-4 hours per day<br>

            <b>Soil</b> :Well-drained, fertile.<br>
            <b>Temperature</b>:28 degrees Celsius and 40-50% humidity<br>
            <b>Fertilizer</b> :fertilized twice a year in the months of June and January<br>
            <b>Feature </b> :Good luck plant to attract wealth and also has medicinal properties
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 30-40 feet when grown outdoors</li>
            <li><b>Scientific Name</b>: Diospyros nigra</li>
            <li><b>Plant Type</b>: Evergreen fruit tree</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Sapota is high on calories providing 83 calories per 100 grams.</li>
              <li> A good source of dietary fibre, the pulp of this fruit functions as an excellent laxative.</li>
              <li>Plant soil should be kept moist at all time.</li>
              <li>It is loaded with a rich array of vitamins A, C, niacin, folate and pantothenic acid and minerals
                iron, potassium and copper.</li>
            </p>
            <button (click)="showDialog38 = !showDialog38" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr10.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;">Fig Tree </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked"></span>
      <span class="fa fa-star unchecked "></span>


      <button (click)="showDialog39 = !showDialog39" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog39" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Fig Tree</h2>
          <img src="assets/fruits/fr10.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Fig being a deciduous and sub tropical tree, prefers areas having arid or semiarid environment, high summer
            temperature, plenty of sunshine and moderate water. </p>
          <p>Quality figs are produced in the region with dry climate especially at the time of fruit development and
            maturity.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Fig Tree</h2>
            <img src="assets/fruits/fr10.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Fig being a deciduous and sub tropical tree, prefers areas having arid or semiarid environment, high
              summer temperature, plenty of sunshine and moderate water. </p>
            <p>Quality figs are produced in the region with dry climate especially at the time of fruit development and
              maturity.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Soil</b> : Organically rich, moist, well-drained.<br>
            <b>Temperature</b>:not drop below 15° F.<br>
            <b>Fertilizer</b> :like formula 10-10-10 or 8-8-8<br>
            <b>Feature </b> :Broad, rough, deciduous leaves
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Full sun</li>
            <li><b>Height</b>: 10-20 ft. tall, 10-20 ft. wide</li>
            <li><b>Watering</b>: Once a day</li>
            <li><b>Scientific Name</b>: Ficus carica</li>
            <li><b>Plant Type</b>: Fruit tree</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Keep the tree in full sun in the summer.</li>
              <li>Be sure to add a high-nitrogen fertilizer every 4 weeks in the spring and summer and water the tree
                moderately.</li>
              <li>In the winter, move the tree indoors and keep the soil moist.</li>
              <li> For outdoor fig trees, plant the tree in the spring or early fall in full sun.</li>
            </p>
            <button (click)="showDialog39 = !showDialog39" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr11.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Litche Plant </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star unchecked "></span>


      <button (click)="showDialog3_10 = !showDialog3_10" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog3_10" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2>Litche Plant</h2>
          <img src="assets/fruits/fr11.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p>Lychee is a tropical fruit with potential health benefits. It's an excellent source of vitamin C and
            antioxidants. </p>
          <p>It may also have anti-inflammatory and cardioprotective qualities, among other things.</p>

        </div>
        <div class="split right">
          <div class="responsive">
            <h2>Litche Plant</h2>
            <img src="assets/fruits/fr11.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p>Lychee is a tropical fruit with potential health benefits. It's an excellent source of vitamin C and
              antioxidants. </p>
            <p>It may also have anti-inflammatory and cardioprotective qualities, among other things.</p>
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>

            <b>Soil</b> : Deep, well drained loamy soil<br>
            <b>Temperature</b>:between 33 and 35 degrees Celsius<br>
            <b>Fertilizer</b> :Manure/Fertilizer application for Litchi in north India<br>
            <b>Feature </b> :Lychee contains good amount of fiber and Vitamin B-complex
            <hr>
            <h3>Key points</h3>
            <li><b>Outdoor</b>: Direct sunlight</li>
            <li><b>Height</b>: 30-40 feet</li>
            <li><b>Watering</b>: Two irrigations at an interval of 45 – 60 days during winter months</li>
            <li><b>Scientific Name</b>: Litchi chinensis</li>
            <li><b>Plant Type</b>:Evergreen tree</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Litchi is a sub-tropical fruit and thrives best under moist sub-tropical climate.</li>
              <li>It usually prefers low elevation and can be grown up to an altitude of 800 m. (m.s.l.)</li>
              <li>Deep, well drained loamy soil, rich in organic matter and having pH in the range of 5.0 to 7.0 is
                ideal for the crop.</li>
              <li>Be careful to avoid overwatering.</li>

            </p>
            <button (click)="showDialog3_10 = !showDialog3_10" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12" id="card1">

    <img class="card-img-top" id="mini-img" src="assets/fruits/fr12.jpg">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25px;"> Grapes plant </h5>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <span class="heading"> Rating : </span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked "></span>

      <button (click)="showDialog3_11 = !showDialog3_11" class="btn btn-primary">Details</button>
    </div>

    <app-dialog [(visible)]="showDialog3_11" title="Details Card" data-popup="width:300;height:250">
      <div class="container">
        <div class="split left">
          <h2> Grapes plant </h2>
          <img src="assets/fruits/fr12.jpg" class="slide" width="500" height="300" />
          <hr>
          <h3>Description</h3>
          <p> Grapes have been grown in Europe and Asia for over 6,000 years. </p>
          <p>Grapes we enjoy today (Vitis vinifera) come in two varieties — one grows in Western Asia near the Black
            Sea, and the other grows in the Americas. Most are cultivated for use in wine, but they also make a
            delicious and healthy snack.

        </div>
        <div class="split right">
          <div class="responsive">
            <h2> Grapes plant </h2>
            <img src="assets/fruits/fr12.jpg" class="slide" width="500" height="300" />
            <h3>Description</h3>
            <p> Grapes have been grown in Europe and Asia for over 6,000 years. </p>
            <p>Grapes we enjoy today (Vitis vinifera) come in two varieties — one grows in Western Asia near the Black
              Sea, and the other grows in the Americas. Most are cultivated for use in wine, but they also make a
              delicious and healthy snack.
          </div>
          <div class="centered">

            <h3>Fruit Details</h3>
            <b>Soil</b> :Well-drained, deep, fertile loams.<br>
            <b>Temperature</b>: above 100C to 400C <br>
            <b>Fertilizer</b> :two to three weeks after planting<br>
            <b>Feature </b> :Some varieties of black grapes are much higher in antioxidants than green or red grapes.

            <hr>
            <h3>Key points</h3>
            <li><b>Height</b>: 1.5 to 8 ft Approx</li>
            <li><b>Watering</b>: egular watering once or twice in a week</li>
            <li><b>Scientific Name</b>: Vitis vinifera</li>
            <li><b>Plant Type</b>: Fruit Plants & Tree</li>
            <hr>
            <h3>Care instruction</h3>
            <p>
              <li>Plant soil should be kept moist at all time.</li>
              <li>Plants should be kept in a cool spot (between 18-28°C).</li>
              <li>For grapes you must be particularly careful to match the type and variety of grape to the site's
                climate.</li>
              <li>Be careful to avoid overwatering.</li>
            </p>
            <button (click)="showDialog3_11 = !showDialog3_11" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </app-dialog>

  </div>



  <ng-template #noResults>
    <p class="no-result">No results found for "{{filteredString}}".</p>
  </ng-template>

</div>